<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Владимир Вениаминович Бибихин</title>
    <link rel="stylesheet" href="styles.css" type="text/css"/>
</head>
<body>
<div class="info">
    <h1>
        Владимир Вениаминович Бибихин
    </h1>
    <img src="Bibichin.jpg/" alt="Фотография загружается">
</div>

<div class="description">
    <h3>
        <p><mark>Из интервью О.А.Седаковой</mark></p>
        <p>
            Подарок Владимира Вениаминовича был в свободе от обыденности. В настроении (важное для него слово)<em> свободы
            от
            обыденности</em>.<br> Я имею в виду не житейские дела и заботы — он никогда их не чурался и исполнял с
            блеском, легко и
            толково.<br> Плотничал, как плотник, разбирал мотор, как механик. Интеллектуалов, гуманитариев,
            <del>белоручек</del>
            «творческих
            людей»
            вещи, как известно,<br> не любят. Замки у них не открываются, еда подгорает. За это их и называют «не от
            мира сего».<br><br>
            Владимир Вениаминович хотел, чтобы и в этих вещах, как в мысли, всё было точно и успешно (успех — еще
            одно его
            важное слово).<br> Вещи любили его как своего. Я думаю, даже деньги бы его любили, <strong>если бы он это им
            позволил</strong>.<br>
            <br>

            Все, что делал Владимир Вениаминович — из того, что отнесут к житейскому, — он делал в том же месте,<br> где
            переводил Хайдеггера или читал «Илиаду» по-гречески (с греческой «Илиадой» я застала его в
            послеоперационной
            палате):<br> в бытии, а не в обыденности. В мире, в языке, в своем, в другом начале… Там, где он узнавал
            себя.<br> Читатели В.В. Бибихина опознают в этом моем перечислении его слова.
        </p>
    </h3>
    <hr>
    <div class="information">
    <p><a href="http://www.bibikhin.ru/vlast_rossii">Эссе Владимира Венеаминовича</a></p>
    </div>
    </div>
</body>
</html>